* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family1;
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.only-mobile {
  @include mediaScreen(903px) {
    display: none;
  }
}

.only-desktop {
  display: none;
  @include mediaScreen(903px) {
    display: block;
  }
}
